<!DOCTYPE html>
<html>
	<head>
		<title>e-mail template page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scle=1.0">
		<link rel="stylesheet" href="style.css">
		<script scr="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="container">
			<header>
				<div class="h">bossearn</div>
				<div class="h">menu</div>
			</header>
			<ul id="nav">
					<li><a href="#">blog</a></li>
					<li><a href="#">dashboard</a></li>
					<li><a href="#">about</a></li>
			</ul>
			<main>
				<div id="body">
					<p>kindly fill in the e-mail template as follow. lets get started!</p>
					<div id="flex">
					<form method="post">
						<div class="in">first name<br> <input type="text" placeholder="e.g mosco"</input><br>
						<div class="in">last name<br> <input type="text" placeholder="e.g nwanze"required</input><br></div>
						<div class="in">date of birth<br> <input type="date" required</input><br><div>
						<div class="in">e-mail<br> <input type="e-mail" required></div>
					</form>
					</div>
				</div>
				<div id="flx-2">
					<div>done</div>
					<div>cancel</div>
				</div>
			</main>
			<footer>
				<div>
					<ul>
						<li>contact us</li>
						<li><a href="#">facebook</a></li>
						<li><a href="#">twitter</a></li>
						<li><a href="#">instagram</a></li>
						<li>bossearn&copy; inc. lincense nad distribution.</li>
					<ul>
				</div>					
			</footer>
		</div>
	</body>
</html>
